@import 'vars';
@import 'typography';
@import 'materialtable';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  height: 100%;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#card_login_registro{
  margin-left: auto;
  margin-right: auto;
  width : 40% !important;
  min-width: 281px;
}

#card_login_container{
  padding: 20px;
}

.md-dialog-container{
position:fixed;
top:0 !important;
overflow:hidden;
}

.info-container{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #BDBDBD;
}

.side {
  background-color: white;
}

.side-button {
  height: 40px;
  padding: 5px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-button:focus {
    outline: none;
}

.side-button:hover {
  background-color: #EEEEEE;
}

.side-button:active {
  background-color: #E0E0E0;
}

.material-icons.side { 
  color: #61c8b0 ; 
}

.selected { 
  color: #E91E63 ; 
}

.active { 
  color: #757575 ; 
}

// .reduced { 
//   background-color: #E0E0E0 ; 
// }

.table-row:focus {
    outline: none;
}
