<md-toolbar class="grey">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="checkup.goBack()">
            <i class="material-icons md-48">arrow_back</i>
        </md-button>
        <h1 flex md-truncate>
            <span>Consulta Médica</span>
        </h1>
        <md-button class="md-icon-button" aria-label="Guardar" ng-click="checkup.onSavePressed()">
            <md-tooltip md-direction="bottom">Guardar</md-tooltip>
            <i class="material-icons md-48">save</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Ir a receta" ng-click="checkup.onPrescriptionPressed()">
            <md-tooltip md-direction="bottom">Ir a receta</md-tooltip>
            <i class="material-icons md-48">receipt</i>
        </md-button>

    </div>
</md-toolbar>
<div>
    <md-content layout-padding>
        <div layout="column">
            <h1> Información del Paciente </h1>

            <md-card class="md-whiteframe-5dp" flex="100">
                <md-card-content>
                    <div ng-hide="checkup.patient" layout="column" flex>
                        <h4>Nombre del paciente</h4>
                        <md-select placeholder="Nombre" ng-model="checkup.patient" md-on-open="checkup.loadPatients()" md-on-close="checkup.processPatientData()">
                            <md-option ng-value="patient" ng-repeat="patient in checkup.patients">{{patient.name + " " + patient.parentalLastName + " " + patient.maternalLastName}}</md-option>
                        </md-select>
                    </div>

                    <div ng-show="checkup.patient" layout="column" class="info-container md-block" flex>
                        <h4>Nombre del paciente</h4>
                        {{checkup.patient.name + " " + checkup.patient.parentalLastName + " " + checkup.patient.maternalLastName}}
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <div layout="column" flex>
                            <div layout="column" class="info-container md-block" flex-gt-sm>
                                <h4>Fecha de nacimiento</h4>
                                {{ checkup.patient.dateOfBirth | date: 'dd/MM/yyyy' }}
                            </div>
                        </div>
                        <md-divider md-inset ng-if="!$last"></md-divider>

                        <div layout="column" flex>
                            <div layout="column" class="info-container md-block" flex-gt-sm>
                                <h4>Edad</h4>
                                {{ checkup.patientAge }}
                            </div>
                        </div>
                        <md-divider md-inset ng-if="!$last"></md-divider>

                        <div layout="column" flex>
                            <div layout="column" class="info-container md-block" flex-gt-sm>
                                <h4>Fecha actual</h4>
                                {{ checkup.todaysDate | date: 'dd/MM/yyyy' }}
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <h1> Datos de consulta </h1>

            <div layout="column" layout-gt-sm="row">
                <md-card class="md-whiteframe-5dp" flex="100" flex-gt-sm="70">
                    <md-card-content>
                        <h4>Subjetivo</h4>
                        <md-input-container class="md-block">
                            <textarea ng-model="checkup.tempCheckup.data.subjective" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <h4>Terapéutica previa</h4>
                        <md-input-container class="md-block">
                            <textarea ng-model="checkup.tempCheckup.data.prevTherapeutic" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <h4>Objetivo</h4>
                        <md-input-container class="md-block">
                            <textarea ng-model="checkup.tempCheckup.data.objective" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <h4>Análisis/Diagnostico</h4>
                        <md-input-container class="md-block">
                            <textarea ng-model="checkup.tempCheckup.data.analysis" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <h4>Plan</h4>
                        <md-input-container class="md-block">
                            <textarea ng-model="checkup.tempCheckup.data.plan" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>

                <md-card class="md-whiteframe-5dp" flex="100" flex-gt-sm="30">
                    <md-card-content>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Temperatura en °C</label>
                            <input ng-model="checkup.tempCheckup.data.temperature" type="number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>T.A. en mmHg</label>
                            <input ng-model="checkup.tempCheckup.data.ta" type="number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Peso en Kg</label>
                            <input ng-model="checkup.tempCheckup.data.weight" type="number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Talla en cm</label>
                            <input ng-model="checkup.tempCheckup.data.height" type="number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>P.C. en cm</label>
                            <input ng-model="checkup.tempCheckup.data.pc" type="number">
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</div>