<md-toolbar class="grey">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="prescription.goBack()">
            <i class="material-icons md-48">arrow_back</i>
        </md-button>
        <h1 flex md-truncate>
            <span>Receta</span>
        </h1>
        <md-button class="md-icon-button" aria-label="Guardar" ng-click="prescription.onSavePressed()">
            <md-tooltip md-direction="bottom">Guardar</md-tooltip>
            <i class="material-icons md-48">save</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Imprimir" ng-click="prescription.print()">
            <md-tooltip md-direction="bottom">Imprimir</md-tooltip>
            <i class="material-icons md-48">print</i>
        </md-button>
    </div>
</md-toolbar>
<md-content layout-padding>
    <div layout="column" layout-gt-sm="row">
        <md-card class="md-whiteframe-5dp" flex="100" flex-gt-sm="65">
            <md-card-content>
                <md-input-container style="overflow-x: hidden; overflow-y: scroll; height: 850px; " class="md-block">
                    <textarea id="prescription-body" ng-model="prescription.content" rows="48"></textarea>
                </md-input-container>
            </md-card-content>
        </md-card>

        <div layout="column" flex>
            <md-card class="md-whiteframe-5dp">
                <md-toolbar class="md-whiteframe-1dp">
                    <div class="md-toolbar-tools">
                        <div class="md-title">Manejo</div>
                    </div>
                </md-toolbar>

                <md-card-content>
                    <md-table-container>
                        <table md-table ng-model="prescription.selected" md-row-select="false" md-progress="hmc._promise">
                            <thead md-head md-order="hmc._order">
                                <tr md-row>
                                    <th md-column><span>Nombre</span></th>
                                    <th md-column><span></span></th>
                                </tr>
                            </thead>

                            <tbody md-body>
                                <tr md-row md-select="manejo" md-auto-select="true" md-row-select="false" ng-click="prescription.addToPrescription(manejo)"
                                    ng-repeat="manejo in prescription.data.treatments | limitTo: 5 : (prescription.pageM -1) * 5">
                                    <td md-cell>
                                        {{manejo.name}}
                                    </td>
                                    <td md-cell>
                                        {{manejo.tecnique}}
                                    </td>
                                    </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit="5" md-page="prescription.pageM" md-total="8" md-page-select="true" md-boundary-links="false"
                        md-on-paginate="logPagination"></md-table-pagination>
                </md-card-content>
            </md-card>

            <md-card class="md-whiteframe-5dp">
                <md-toolbar class="md-whiteframe-1dp">
                    <div class="md-toolbar-tools">
                        <div class="md-title">Farmacos</div>
                    </div>
                </md-toolbar>

                <md-card-content>
                    <md-table-container>
                        <table md-table ng-model="prescription.selected" md-row-select="false" md-progress="hmc._promise">
                            <thead md-head md-order="hmc._order">
                                <tr md-row>
                                    <th md-column><span>Nombre</span></th>
                                    <th md-column><span></span></th>
                                </tr>
                            </thead>

                            <tbody md-body>
                                <tr md-row md-select="med" md-auto-select="true" md-row-select="false" ng-click="prescription.addToPrescription(med)" ng-repeat="med in prescription.data.meds | limitTo: 5 : (prescription.pageF -1) * 5">
                                    <td md-cell>
                                        {{med.name}}
                                    </td>
                                    <td md-cell>
                                        {{med.dosage}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit="5" md-page="prescription.pageF" md-total="5" md-page-select="true" md-boundary-links="false"
                        md-on-paginate="logPagination"></md-table-pagination>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>