<md-toolbar class="grey">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="records.goBack()">
            <i class="material-icons md-48">arrow_back</i>
        </md-button>
        <h1>
            <span>Expediente Médico</span>
        </h1>
        <span flex></span>
        <md-button ng-click="records.newCheckUp()">Nueva Consulta</md-button>
    </div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Ficha de Identificación">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Ficha de Identificación</h1>
                    <form ng-submit='records.updatePatient(records.patient.uid)' name="userForm">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre(s)</label>
                                <input required name="name" ng-model="records.patient.name">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Paterno</label>
                                <input required ng-model="records.patient.parentalLastName">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Materno</label>
                                <input ng-model="records.patient.maternalLastName">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex="60">
                                <label>Fecha de nacimiento</label>
                                <md-datepicker required ng-model="records.dateOfBirth"></md-datepicker>
                            </md-input-container>

                            <md-radio-group required ng-model="records.patient.sex" flex="50">
                                <md-radio-button class="md-primary" value="hombre"> Hombre </md-radio-button>
                                <md-radio-button class="md-primary" value="mujer">Mujer</md-radio-button>
                            </md-radio-group>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nomber del Padre</label>
                                <input required ng-model="records.patient.fatherName">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre de la Madre</label>
                                <input required ng-model="records.patient.motherName">
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block">
                            <label>Calle</label>
                            <input required ng-model="records.patient.street">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <label>Colonia</label>
                            <input required ng-model="records.patient.neighborhood">
                        </md-input-container>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Municipio</label>
                                <input required ng-model="records.patient.municipality">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Estado</label>
                                <md-select ng-model="records.patient.state">
                                    <md-option required ng-repeat="state in records.states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Código Postal</label>
                                <input name="postalCode" ng-model="records.patient.postalCode" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">Tienes que proporcionar un codigo postal valido.</div>
                                    <div ng-message="pattern" class="my-message">Codigo pstal invalido
                                    </div>
                                    <div ng-message="md-maxlength" class="my-message">
                                        Don't use the long version silly...we don't need to be that specific...
                                    </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <div flex="35">
                            </div>
                            <md-button type='submit' ng-disabled="!userForm.$dirty" class="md-raised md-primary">Guardar cambios</md-button>
                            <div flex="35">
                            </div>
                        </div>

                    </form>
                </md-content>
            </md-tab>

            <md-tab label="Antecedentes">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Antecedentes</h1>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Familiares</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <md-input-container class="md-block">
                                <textarea aria-label="familiar" ng-model="records.patient.background.familiar" md-maxlength="300" rows="5"></textarea>
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="!records.patient.background.familiar" ng-click="records.updatePatient(records.patient.uid)" class="md-raised md-primary">Guardar</md-button>
                        </md-card-actions>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Perinatales</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <md-input-container class="md-block">
                                <textarea ng-model="records.patient.background.perinatal" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="!records.patient.background.perinatal" ng-click="records.updatePatient(records.patient.uid)" class="md-raised md-primary">Guardar</md-button>
                        </md-card-actions>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Patologicos</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <md-input-container class="md-block">
                                <textarea ng-model="records.patient.background.pathological" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="!records.patient.background.pathological" ng-click="records.updatePatient(records.patient.uid)" class="md-raised md-primary">Guardar</md-button>
                        </md-card-actions>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">No patologicos</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <md-input-container class="md-block">
                                <textarea ng-model="records.patient.background.nonPathological" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="!records.patient.background.nonPathological" ng-click="records.updatePatient(records.patient.uid)" class="md-raised md-primary">Guardar</md-button>
                        </md-card-actions>
                    </md-card>

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Alergias</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>

                            <md-input-container class="md-block">
                                <textarea ng-model="records.patient.background.allergical" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="!records.patient.background.allergical" ng-click="records.updatePatient(records.patient.uid)" class="md-raised md-primary">Guardar</md-button>
                        </md-card-actions>
                    </md-card>


                </md-content>
            </md-tab>

            <md-tab label="Historial Médico">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Historial Médico</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie
                        dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere
                        mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam,
                        congue eu enim scelerisque, finibus commodo lectus.
                    </p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>